<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="org.springframework.jdbc" level="DEBUG"/>
    <logger name="org.mybatis" level="DEBUG"/>
    <logger name="com.baomidou" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="DEBUG"/>
    <logger name="com.example" level="DEBUG"/>

<!--    业务服务日志   -->
    <logger name="com.springcloud.ms.mapper" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>